<!DOCTYPE html>
<html>
    <head>
        <title>{$file_title}-{$web_config.web_title}</title>
        {include file="default/meta.html"}
    </head>
    <body>
        {include file="default/header.html"}
        <div class="main w1000 auto mt10 clearfix">
            <div class="bus mr10 mt10 border w298 fl">
                <h4 class="clearfix"><span>按地区查找</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                <ul>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                </ul>
            </div>
            <div class="bus mr10 mt10 border w378 fl">
                <h4 class="clearfix"><span>最新报价</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                <ul>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                </ul>
            </div>
            <div class="bus mt10 border w298 fl">
                <h4 class="clearfix"><span>最新报价</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                <ul>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                </ul>
            </div>
            <div class="bus mr10 mt10 border w298 fl">
                <h4 class="clearfix"><span>企业自主报价</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                <ul>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li><li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                    <li><a href="">资讯供应商资讯供应商资讯供应商资</a><span>2014/6/10</span></li>
                </ul>
                <h3><a href=""> 企业点击自主报价</a></h3>
            </div>
            <div class="jobs w670 mt10 fr">
                <h4 class="clearfix"><img class="fl" src="{$theme_dir}images/price.png" /> <span><a href="" class="more">更多</a></span></h4>
                <table width="100%" align="center" cellspacing="0" cellpadding="0">
                    <tr class="even">
                        <td width="20%">型号</td>
                        <td width="20%">品牌</td>
                        <td width="20%">价格</td>
                        <td width="20%">地区</td>
                        <td width="20%">更新时间</td>
                    </tr>
                    <tr class="odd">
                        <td>GZ0154676</td>
                        <td>品牌</td>
                        <td class="red">￥10000</td>
                        <td>广东|广州</td>
                        <td>2014-9-25</td>
                    </tr><tr class="odd">
                        <td>GZ0154676</td>
                        <td>品牌</td>
                        <td class="red">￥10000</td>
                        <td>广东|广州</td>
                        <td>2014-9-25</td>
                    </tr><tr class="odd">
                        <td>GZ0154676</td>
                        <td>品牌</td>
                        <td class="red">￥10000</td>
                        <td>广东|广州</td>
                        <td>2014-9-25</td>
                    </tr><tr class="odd">
                        <td>GZ0154676</td>
                        <td>品牌</td>
                        <td class="red">￥10000</td>
                        <td>广东|广州</td>
                        <td>2014-9-25</td>
                    </tr><tr class="odd">
                        <td>GZ0154676</td>
                        <td>品牌</td>
                        <td class="red">￥10000</td>
                        <td>广东|广州</td>
                        <td>2014-9-25</td>
                    </tr>
                </table>
                <h3>本信息仅供参考，不得转载</h3>
            </div>
            <div class="price w1000 mt10 fr">
                <h4 class="clearfix"><span>推荐报价</span><a href="" class="more">更多</a></h4>
                <ul>
                    <li class="borderBottom">
                       <a href=""><img src="{$theme_dir}images/price1.png" />
                        <p>不锈钢轮胎<br>
                        <span>10000元</span></p></a>
                    </li><li class="borderBottom">
                    <a href=""><img src="{$theme_dir}images/price1.png" />
                        <p>不锈钢轮胎<br>
                            <span>10000元</span></p></a>
                    </li><li class="borderBottom">
                    <a href=""><img src="{$theme_dir}images/price1.png" />
                        <p>不锈钢轮胎<br>
                            <span>10000元</span></p></a>
                    </li><li class="borderBottom">
                    <a href=""><img src="{$theme_dir}images/price1.png" />
                        <p>不锈钢轮胎<br>
                            <span>10000元</span></p></a>
                    </li><li class="borderBottom">
                    <a href=""><img src="{$theme_dir}images/price1.png" />
                        <p>不锈钢轮胎<br>
                            <span>10000元</span></p></a>
                    </li><li>
                    <a href=""><img src="{$theme_dir}images/price1.png" />
                        <p>不锈钢轮胎<br>
                            <span>10000元</span></p></a>
                    </li><li>
                    <a href=""><img src="{$theme_dir}images/price1.png" />
                        <p>不锈钢轮胎<br>
                            <span>10000元</span></p></a>
                    </li><li>
                    <a href=""><img src="{$theme_dir}images/price1.png" />
                        <p>不锈钢轮胎<br>
                            <span>10000元</span></p></a>
                    </li><li>
                    <a href=""><img src="{$theme_dir}images/price1.png" />
                        <p>不锈钢轮胎<br>
                            <span>10000元</span></p></a>
                    </li><li>
                    <a href=""><img src="{$theme_dir}images/price1.png" />
                        <p>不锈钢轮胎<br>
                            <span>10000元</span></p></a>
                    </li>
                </ul>
            </div>
            <div class="bus mr10 mt10 border w295 fl">
                <h4 class="clearfix"><span>二手轮胎报价</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                <ul>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                </ul>
            </div>
            <div class="bus mt10 border w380 fl">
                <h4 class="clearfix"><span>橡胶机械设备报价</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                <ul>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                </ul>
            </div>
            <div class="bus mt10 border w298 fr">
                <h4 class="clearfix"><span>行情分析</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                <ul>
                    <li><a href="">产品名字标题</a><span class="red">2014/06/24</span></li>
                    <li><a href="">产品名字标题</a><span class="red">2014/06/24</span></li>
                    <li><a href="">产品名字标题</a><span class="red">2014/06/24</span></li>
                    <li><a href="">产品名字标题</a><span class="red">2014/06/24</span></li>
                    <li><a href="">产品名字标题</a><span class="red">2014/06/24</span></li>
                    <li><a href="">产品名字标题</a><span class="red">2014/06/24</span></li>
                    <li><a href="">产品名字标题</a><span class="red">2014/06/24</span></li>
                    <li><a href="">产品名字标题</a><span class="red">2014/06/24</span></li>
                    <li><a href="">产品名字标题</a><span class="red">2014/06/24</span></li>
                    <li><a href="">产品名字标题</a><span class="red">2014/06/24</span></li>
                </ul>
            </div>
            <div class="bus mr10 mt10 border w295 fl">
                <h4 class="clearfix"><span>轮胎周边零配及设备报价</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                <ul>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                </ul>
            </div>
            <div class="bus mt10 border w380 fl">
                <h4 class="clearfix"><span>废旧轮胎报价</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                <ul>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                    <li><a href="">产品名字标题</a><span class="red">￥100000</span></li>
                </ul>
            </div>
        </div>
        {include file="default/footer.html"}
    </body>
</html>
