<!DOCTYPE html>
<html>
    <head>
        <title>{$file_title}-{$web_config.web_title}</title>
        {include file="default/meta.html"}
    </head>
    <body>
        <p>test!</p>

        <p id="data"></p>
    </body>
    <script>
        var ws = new WebSocket("ws://localhost:8090");
        ws.onopen = function () {
            console.log("open");
            ws.send("hello");
        };
        ws.onmessage = function (evt) {
            console.log(evt.data);
            string = "数据处理中。。。";
            $("#data").html(string);
        };
        ws.onclose = function (evt) {
            console.log("WebSocketClosed!");
        };
        ws.onerror = function (evt) {
            console.log("WebSocketError!");
        };
    </script>
</html>
