<!DOCTYPE html>
<html>
    <head>
        <title>{$file_title}-{$web_config.web_title}</title>
        {include file="default/meta.html"}
        <link type="text/css" rel="stylesheet" href="{$theme_dir}css/page.css" />
    </head>
    <body>
        {include file="default/header.html"}
        {include file="default/here.html"}
        <div class="main w1000 auto clearfix">
            <div class="w680 fl">
                <div class="jobs w660 mt10 fl">
                    <h4 class="clearfix"><img class="fl" src="{$theme_dir}images/job.png" /></h4>
                    <table width="100%" align="center" cellspacing="0" cellpadding="0">
                        <tr class="even">
                            <td width="20%">姓名</td>
                            <td width="20%">性别</td>
                            <td width="20%">所学专业</td>
                            <td width="20%">最高学历</td>
                            <td width="20%">发布日期</td>
                        </tr>
                        {foreach item=v from=$users key=k}
                        <tr class="{if $k % 2 == 0}odd{else}even{/if}">
                            <td>{$v.realname}</td>
                            <td>{$v.sex}</td>
                            <td>{$v.zhuanye}</td>
                            <td>{$v.xueli}</td>
                            <td>{$v.addtime|date_format:Y-m-d}</td>
                        </tr>
                        {/foreach}
                    </table>
                    <div class="clh"></div>
                    <div class="page">{$pagestr}</div>
                </div>
            </div>
            <div class="w295 fr">
                <div class="bus mt10 border w295 fr">
                    <h4 class="clearfix"><span>名企招聘</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                    <ul>
                        {foreach item=v from=$mqzp}
                        <li><a href="{if $v.url != ''}{$v.url}{else}{insert name=url mod=news_show id=$v.id}{/if}">{$v.title|truncate:32:''}</a><span>{$v.addtime|date_format:Y/m/d}</span></li>
                        {/foreach}
                    </ul>
                </div>
                <div class="bus mt10 border w295 fr">
                    <h4 class="clearfix"><span>教你用人</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                    <ul>
                        {foreach item=v from=$jnyr}
                        <li><a href="{if $v.url != ''}{$v.url}{else}{insert name=url mod=news_show id=$v.id}{/if}">{$v.title|truncate:32:''}</a><span>{$v.addtime|date_format:Y/m/d}</span></li>
                        {/foreach}
                    </ul>
                </div>
                <div class="bus mt10 border w295 fr">
                    <h4 class="clearfix"><span>职场资讯</span><a class="more" href=""><img src="{$theme_dir}images/more.png" /> </a></h4>
                    <ul>
                        {foreach item=v from=$zczx}
                        <li><a href="{if $v.url != ''}{$v.url}{else}{insert name=url mod=news_show id=$v.id}{/if}">{$v.title|truncate:32:''}</a><span>{$v.addtime|date_format:Y/m/d}</span></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        {include file="default/footer.html"}
    </body>
</html>
